body{
    padding: 5%;
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
}
ol{
    list-style-type: none;
}
ul{
    text-align: center;
    list-style-type: square;
    list-style-position: outside;
    color: aquamarine;
    line-height: 1.7;
    list-style-image: url("../images/checkmark.png");
    
}
ul li{
 color:red ;
}
ul li:nth-child(even){
    color: aqua;
}
::marker{
    color:green;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    content:"$33";
}